{% extends "panel/auth/base.html" %}
{% load i18n core_tags %}
{% block title %}{% translate "Check your inbox" %} · {{ PLATFORM_NAME }}{% endblock %}
{% block content %}
<div class="auth-icon">{% icon "mail" "icon-xl" %}</div>
<h1>{% translate "Check your inbox" %}</h1>
<p>{% translate "If there is an account with that e-mail, you will receive a link to choose a new password in a few minutes. Remember to check the spam folder." %}</p>
<p class="auth-links"><a href="{% url 'panel:login' %}">{% translate "Back to sign in" %}</a></p>
{% endblock %}
